.box{
	position: absolute;
	height: 100px;
	width: 100px;
	border: 2px solid black;
	margin-top: 20%;
	margin-left: 25%;
	transition: 3s;
	animation-name: box;
	animation-duration: 5s;
	animation-direction: alternate;

}

@keyframes box {
    0% {
    left: 0%;
  }
  50% {
    left: 100%; /* for moving right */
  }
  100% {
    left: 0%; /* for moving back or left */
  }
}

@-webkit-keyframes box {
    0% {
    left: 0%;
  }
  50% {
    left: 100%; /* for moving right */
  }
  100% {
    left: 0%; /* for moving back or left */
  }
}

.up:hover{
	border: 10px solid white;
    border-radius: 100px;
    background-color: #48dbfb;
    box-shadow: 0px 0px 100px #48dbfb;
    transform: rotate(720deg);

}

#background{
	position:absolute;
	background-color: white;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: -1;
	transition: 3s;

}

.box:hover ~ #background{
  background-color: rgb(2,2,2);

}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}




